*.log

wp-content/uploads
node_modules/
wp-admin/
wp-includes/
wp-content/themes/3Dviewer/node_modules/


.htaccess
index.php
license.txt
package-lock.json
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php



