html {
    width: 101%;
    height: 100%;
	min-height: 100% !important;
	overflow: hidden;
}


body {
	word-wrap: break-word;
	width: 100%;
    height: 100%;
    background-color: #000000;
}

iframe{
	width: 100%;
	height: 100%;
}

p{
	margin: 0px;
	font-size: 20px;
	font-family: TypsnittHaasGrotRg;
}

h1{
	font-family: TypsnittHaasGrotMd;
}

h2{
	font-family: TypsnittHaasGrotMd;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

@font-face{
	font-family: TypsnittHaasGrotRg;
	src: local('TypsnittHaasGrot'), url("fonts/TypsnittHaasGrot/NHaasGroteskTXPro-55Rg.otf") format("truetype"); 
}

@font-face{
	font-family: TypsnittHaasGrotMd;
	src: local('TypsnittHaasGrot'), url("fonts/TypsnittHaasGrot/NHaasGroteskTXStd-65Md.otf") format("truetype"); 
}


.notReady{
	margin: auto;
	text-align: center;
	position: relative;
	top: 50%;
	color: white;
	font-size: 60px;
}


.infoButton{
	background-color: rgba(21, 18, 20, 0.0);
    color: white;
    height: 110px;
    width: 110px; 
    text-align: center;
    background-color: rgba(21, 18, 20, 0.5);
    border:5px solid white;
/*    border: 5px solid rgba(255,255,255,.0);*/

}

.infoButton.--active{
    border:none;
    background-color: rgba(21, 18, 20, 0.5);
}

.infoButton.--hidden{
    visibility: hidden;

}

#label{
	font-size: 80px;
	color: white;
	font-family: TypsnittHaasGrotRg;
	font-weight: bold;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#label2{
	font-size: 80px;
	color: black;
	font-family: TypsnittHaasGrotRg;
	font-weight: bold;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoButton2{
/*	background-color: rgba(21, 18, 20, 0.0);*/
    color: black;
    height: 120px;
    text-align: center;


}

.infoButton2.--active{
/*	background-color: rgba(21, 18, 20, 0.0);*/
    color: black;
    height: 120px;
    text-align: center;
    border:5px solid black;

}

#wrapper{
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 800px;
	color: white;
	transform: translate(-50%, -50%);
}

.navBar{
	z-index: -1;
	bottom: 0px;
	text-align: initial;
/*	height: 110px;*/
/*	width: 590px;*/
	background-color: rgba(21, 18, 20, 0.8);
	padding: 20px;
}

.annotationBox{
	right: 0px;
	z-index: -1;
/*	position: absolute;*/
	text-align: initial;
/*	width: 590px;*/
	background-color: rgba(21, 18, 20, 0.8);
	padding: 20px;
	bottom: 120px;
}

.annotationBox.--hidden{
	visibility: hidden;
}

.languageList {
	padding-left: 0px;
}

.languageList li{
	color: gray;
	margin-top: 20px; 
	padding-left: 0px;
	list-style-type: none;
	display: inline-block;
	font-family: TypsnittHaasGrotRg;
	font-size: 20px;
}

.languageList span{
	color: gray;
	margin-top: 20px; 
	padding-left: 0px;
	list-style-type: none;
	display: inline-block;
	font-family: TypsnittHaasGrotRg;
}

.selected-language-class {
	display: inline-block;
	padding: 0px;
	text-decoration: underline;
	color: white !important;;
	font-family: TypsnittHaasGrotRg;
}

.arrowList{
	list-style-type: none;
/*	padding: 0px;*/
	display: inline-block;
	padding: 0px;
	margin-bottom: 0px;
	max-width: 100%
}

.arrow-right{
	display: inline-block;
	text-decoration: none!important;
	max-width: 15%;
	margin-right: 0px;
	float: right;
}

.arrow-left {
	display: inline-block;
	text-decoration: none!important;
	max-width: 15%;
	transform: scaleX(-1); 
}

.blackBox{
	height: 100%;
	width: 101%;
	background-color: #000000;
	z-index: 999;
	position: absolute;
	opacity: 0.6;
	top: 0px;
}

.spinLayer{
	height: 100%;
	width: -webkit-calc(100% - 170px);
	z-index: 999;
	position: absolute;
	right: 0px;
	top: 0px;
}

.spinLayer img{
	padding: 200px 100px 200px 100px;
}

.rotationImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.inner-border {
    background: #000;
    color: #fff;
}
.inner-border:before {
    border: 5px solid #000;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 10px;
}

.outerDragBox{ 
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
} 

.img-responsive{
	width:auto; /* you can use % */
    height: auto;
}

.menu{
	position: fixed;
	z-index: 999;
	width: 120px;
	background-color: #fff;
}

.menu.--inactive{
	background-color: #a79999;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0px;
}

.menu ul li{
	padding: 5px;
	position: relative;
}

/*.menu ul li:last-child {
 	border: none;
}*/

.menu ul li a{
	color: #fff;
	text-decoration: none;
}

.viewer {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.viewer li{
	list-style: none;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
}
.viewer h2 {
	margin-top: 0%;
	text-align: center ;
	position: absolute ;
	font-size: 50px;
	left:0px; 
	right: 0px;
	color: white;
}


.main-content{
	width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	padding-right: 0%;
	padding-left: 0%;
	padding-bottom: 0%;

} 

.wp-post{
	height: 100%;
	width: 100%;
}

.app {
    height: 100%;
}

audio{
	margin-left: -9999px;
}










